//@import "compass/reset";
//@import "compass/layout";
//@import "compass/css3";
//@import "compass/utilities";

@import "../css/helper.css";
@import "../sass/compo";

/*vars start*/
$hover-bgcolor-grey: #e4e4e4;
$hover-bgcolor-lightpur: #47233e;
$bgcolor-mauve: #330f10;
$main-font-color-pur:#790d86;
$main-font-color-lightpur:#bac2f5;
$main-border-color-lightpur: rgba(187,156,255,.3);
$header-height:50px;
/*vars end*/
html {
  font-size: 10px;
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 11.25px !important;
  }
}

@media only screen and (min-width: 401px) {
  html {
    font-size: 12.5px !important;
  }
}

@media only screen and (min-width: 428px) {
  html {
    font-size: 13.375px !important;
  }
}

@media only screen and (min-width: 461px) {
  html {
    font-size: 16px !important;
  }
}

html{
  font-family:"Open Sans","Microsoft YaHei","weiruanyahei",Arial,sans-serif !important;
}
body{
  background: #330f10;
  color:$main-font-color-lightpur;
}
a{
  color:$main-font-color-lightpur;
  &:hover{
    font-weight: bolder;
    color:$main-font-color-lightpur;
  }
}
.wrapper{
  overflow: hidden;
}
.logo-img{
  display: inline-block;
  height:100%;
}

.divine-nav-block{
  display: inline-block;
}
.divine-nav-block a{
  color:$main-font-color-lightpur;
  &:hover,&:focus{
    background:$hover-bgcolor-lightpur !important;
    font-weight: bolder;

  }
}

.container{
  max-width:1000px;
}
/*header start*/
.header{
   width:100%;
  height: $header-height;
  background:#1B0B18;
  position: absolute;
  top:0;
  left:0;
  & > div{
    height:100%;
  }
  .navbar-header{
    height:100%;
    position: relative;
    .header-search-input{
      font-size: 1.6rem;
    }
    .header-search-box-mobile{
      position: absolute;
      right:60px;
      width:100%;
    }
  }
  .navbar-toggle{
    outline: none;
    &:focus{
      background:$hover-bgcolor-lightpur !important;
    }
    .icon-bar{
      background:$main-font-color-lightpur;
    }
  }
  a{
    color:$main-font-color-lightpur;
    &:hover{
      background:$hover-bgcolor-lightpur !important;
      font-weight: bolder;
    };
    &:focus{
      background:none !important;
    };
  }
  @media (max-width:768px){
    .navbar-right{
      float: right;
      text-align: right;
      padding:0 5px;
      margin:0 -15px 0 0;
      background: black;
      position:relative;
      z-index:10;

    }
  }
}

.header-container{
  //position: relative;
}

.header-search-box{
  padding-top:10px;
  padding-bottom: 10px;
  width: 200px;
  height:$header-height;
  float:right;
}

.header-search-box-mobile{
  padding-top:10px;
  padding-bottom: 10px;
  height:$header-height;
  //position:relative;
  z-index:5;
  .header-search-input:focus{
    outline: none;
    border-bottom: 1px solid $main-border-color-lightpur;
  }
}

@media (min-width: 768px) {
  .header-search-box-mobile {
    display: none
  }
}

@media (max-width: 767.9999px) {
  .header-search-box {
    display: none
  }
}

.header-search-form{
  float: right;
  padding-right:5px;
}

.header-search-input{
  background: url(../imgs/icons/search.png) no-repeat right;
  border:none;
  padding:5px 25px 5px 0;
  width: 0;
  color: #fff;
  /*设置动画样式*/
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease ;
  -ms-transition: all 400ms ease ;
  -o-transition: all 400ms ease ;
  transition: all 400ms ease ;
}

.header-search-input:focus{
  width: 200px;
}

.header-search-input::-webkit-search-cancel-button {
  display: none;
}

.IE-notice{
  display: none;
  background: #790d86;
  color:white;
  font-weight: 600;
  position: relative;
  top:50px;
  left:0;
  padding:5px;
}
/*footer start*/
.footer{
  width:100%;
  background:$bgcolor-mauve;
  margin-top:3rem;
  border-top:1px solid rgba(187, 156, 255, .3);
  a{
    color: $main-font-color-lightpur;
  }
}


/*footer end*/

/*main-content start*/
.main-content{
  margin:$header-height auto;
  //padding:0;
}
/*main-content end*/

/*index.ejs start*/
.background-img-wrap-full{
  margin:0 auto;
  background:#eee 0 0 no-repeat;
  background-size:cover;
  h1{
    background:rgba(0,0,0,.9);
//    padding:5px;
    margin:50px 20px;
    font-size:22px;
    color:#d9d9d9;
    line-height: 1.4;
  }
}

.login-and-reg a{
  margin:10px 5px;
  /*background:rgba(44,44,44,.5);*/
  font-size:20px;
  //color:#fff;
  display: block;
}
/*index.ejs end*/

/*pagination*/
.pagination > .active-red > a, .pagination > .active-red > span, .pagination > .active-red > a:hover, .pagination > .active-red > span:hover, .pagination > .active-red > a:focus, .pagination > .active-red > span:focus {
  background-color:#bf383c;
}
.pagination > li > a {
  background-color: transparent;
  border-radius: 0;
  border:1px solid #5C3957;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: $hover-bgcolor-lightpur;
}
//.pagination > li > a:hover{
//  background:$hover-bgcolor-lightpur;
//}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: transparent;
  border:1px solid #5C3957;
}