@import "compass/reset";
@import "compass/layout";
@import "compass/css3";
@import "compass/utilities";

@import "../css/helper.css";
@import "../sass/compo";

/*vars start*/
$hover-bgcolor-grey: #e4e4e4;
$main-font-color-pur:#790d86;
$main-border-color-lightpur: rgba(187,156,255,.3);
$header-height:50px;
/*vars end*/
html {
  font-size: 10px;
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 11.25px !important;
  }
}

@media only screen and (min-width: 401px) {
  html {
    font-size: 12.5px !important;
  }
}

@media only screen and (min-width: 428px) {
  html {
    font-size: 13.375px !important;
  }
}

@media only screen and (min-width: 461px) {
  html {
    font-size: 16px !important;
  }
}

html{
  font-family:"Open Sans","Microsoft YaHei","weiruanyahei",Arial,sans-serif !important;
}
body{
  background: #e4e4e4;
}
.wrapper{
  /*background: pink;*/
  overflow: hidden;
}
.logo-img{
  display: inline-block;
  height:100%;
}

.container{
  max-width:1000px;
}
/*header start*/
.header{
   width:100%;
  height: $header-height;
  color:#fff;
  background:black;
  position: absolute;
  top:0;
  left:0;
  & > div{
    height:100%;
  }
  .navbar-header{
    height:100%;
  }
  a{
    color:#fff;
    &:hover{
      background:$hover-bgcolor-grey !important;
      color:$main-font-color-pur;
      font-weight: bolder;
    };
    &:focus{
      background:none !important;
    };
  }
  @media (max-width:768px){
    .navbar-right{
      float: right;
      text-align: right;
      padding:0 5px;
      margin:0 -15px 0 0;
      background: black;
      position:relative;
      z-index:10;

    }
  }
}
.IE-notice{
  display: none;
  background: #790d86;
  color:white;
  font-weight: 600;
  position: relative;
  top:50px;
  left:0;
  padding:5px;
}
/*footer start*/
.footer{
  width:100%;
  background:black;
}


/*footer end*/

/*main-content start*/
.main-content{
  margin:$header-height auto;
  //padding:0;
}
/*main-content end*/

/*index.ejs start*/
.background-img-wrap-full{
  margin:0 auto;
  background:#eee 0 0 no-repeat;
  background-size:cover;
  h1{
    background:rgba(0,0,0,.9);
//    padding:5px;
    margin:50px 20px;
    font-size:22px;
    color:#d9d9d9;
    line-height: 1.4;
  }
}

.login-and-reg a{
  margin:10px 5px;
  /*background:rgba(44,44,44,.5);*/
  font-size:20px;
  //color:#fff;
  display: block;
}
/*index.ejs end*/
