/*vars start*/
$hover-bgcolor-grey: #e4e4e4;
$main-font-color-pur:#790d86;
/*vars end*/

/*img list start*/
.img-list-comtainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.img-list-item {
  display: block;
  overflow: hidden;
  flex:1;
//  background: url(../imgs/bg-main.jpg) no-repeat;
//  background-size: 100% 100%;
  padding:8px;
  max-width: 294px;
  margin: 15px 8px;
  position:relative;
  cursor: pointer;
  background: white;
  img{
    width: 100%;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
  }
  &:hover {
    img{
      -moz-transform:scale(1.2);
      -webkit-transform:scale(1.2);
      -o-transform:scale(1.2);
      -ms-transform:scale(1.2);
      transform:scale(1.2);
    }
    .img-list-item-content{
      height:150px;
    }
  }
  .img-list-item-content{
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    padding:0 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,.5);
    color:white;
    transition: .3s;
  }
}
@media (max-width:415px){
  .img-list-item {
    width: 48% ;
    min-width: 48%;
    padding:0;
    margin:1%;
  }
}
//.tm-popular-item-img { margin-left: 3px; }
/*img list end*/

/*form one row start*/
.t-form-inline{

  .t-form-group{
    display:block;
    line-height:34px;
    .t-inline-dis{
      display: inline-block;
    }
    label{
      display:inline-block;

    }
    input{
      width:100%;
      display: inline-block;
    }
    select{
      width:99%;
      display:inline-block;
    }
  }
}

@media (min-width:601px){
  .t-form-inline{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    .t-form-group{
      -webkit-box-flex: 1;
      -moz-box-flex:1;
      /*box-flex: 1;*/
      flex:1;
    }
  }
}
/*form one row start*/

.title-with-line{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin:0 20px;
  .inner-title{
    color:$main-font-color-pur;
    padding:0 30px 0 10px;
    line-height: 43px;
  }
  .inner-line{
    height:2px;
    padding:0;
    flex:1;
    background: $main-font-color-pur;
  }
}
@media (max-width:466px){
  .title-with-line{
    display: block;
  }
  .inner-line{
    margin-top:0;
  }

}