<% include common-tags.ejs %>
    <title>塔罗Ju--关于本站</title>
    <style>
        .main-content a{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <% include common-header.ejs %>
        <% include IENotice.ejs %>

        <div class="container main-content">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-push-2">
                    <h3>本站内容·使用方法</h3>
                    <ol>
                        <li>
                            <p>本站所有内容基于标准伟特塔罗，主要收集了常见塔罗牌型和卡牌意思和站主多年来的个人收集和心得文章。所有牌意解释来源于《你已经很塔罗》，牌型来源于同本书以及其他伟特塔罗书籍。
                                本站所有卡牌和牌型，可以通过网站头部的搜索框搜索到</p>
                        </li>
                        <li>
                            <h4 class="color-red">| 使用方法</h4>
                            <ul>
                                <li>
                                    <p>(1).搜索牌义和牌型介绍：<br>
                                        网站头部的搜索框搜索。
                                        例如。输入“圣杯九”，可以查到这张牌的全部含义。输入“圣三角”,可以查到该牌型介绍</p>
                                </li>
                                <li>
                                    <p>(2).查看已收录的所有牌型/牌阵：<br>
                                        <a href="/divine" target="_blank" class="color-red"> → 牌阵</a>。
                                </li>
                                <li>
                                    <p>(3).在线自助占卜：<br>
                                        <a href="/divine" target="_blank" class="color-red"> → 点我打开</a>，先选择牌型，然后点击进入。按照页面提示进行操作。
                                        <br/>目前，部分牌型已开放这个功能。其余牌型仅收录牌型介绍。
                                        <br><small>如果你和我一样都是玩塔罗的，你应该明白你可以参考牌型介绍自己开牌预测,在线占卜只是个快捷的懒人工具</small></p>
                                </li>
                                <li>
                                    <p>(4).站主多年玩牌经验，当然也提供本人占卜塔罗和解牌服务。。。但是这个你得看我是否有空、是否愿意帮你占卜。</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>本站属于个人网站，基于站主的多年的个人塔罗爱好，会不定期加入一些我觉得很赞的牌面和文章知识和个人心得等。</p>
                        </li>
                        <li>
                            <p>本站没有经营任何盈利性行为</p>
                        </li>
                        <li>
                            <p>若您有任何疑问，或者您希望本站加入一些其他您感兴趣的内容，可以联系QQ：
                                <a target="_blank" class="color-green" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes">3450302573</a>
                                <br/>也可以给我发邮件：<a href="mailto:3450302573@qq.com" target="_blank" class="color-green">3450302573@qq.com</a>
                            </p>
                        </li>
                    </ol>

                    <h3>本站开发与维护</h3>
                        <ol>
                            <li>
                                <p>站主个人开发。采用nodejs+express+bootstrap+jq+gulp</p>
                            </li>
                            <li>
                                <p>兼容：不兼容ie11以下，若你发现有兼容问题，可以反馈给我</p>
                            </li>
                            <li>
                                <p>若您发现本站代码有bug,请联系QQ:
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes" class="color-green">3450302573</a>
                                    <br/>或者给我发邮件：<a href="mailto:3450302573@qq.com" target="_blank" class="color-green">3450302573@qq.com</a>
                                </p>
                            </li>
                        </ol>
                        <p></p>
                </div>
            </div>
        </div>
        <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/indexJS.js"></script>
</body>
</html>