<% include common-tags.ejs %>
    <title>塔罗Ju--关于本站</title>
    <style>
        .main-content a{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <% include common-header.ejs %>
        <% include IENotice.ejs %>

        <div class="container main-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                    <h3>本站内容</h3>
                    <ol>
                        <li>
                            <p>本站所有内容基于标准伟特塔罗，所有牌意解释来源于《你已经很塔罗》，牌型来源于同本书以及其他塔罗书籍。本站所有卡牌和牌型，可以通过网站头部的搜索框搜索到</p>
                        </li>
                        <li>
                            <p>本站属于个人网站，基于站主的个人爱好，可能会不定期加入一些我收集的我觉得好看的牌面</p>
                        </li>
                        <li>
                            <p>本站没有经营任何盈利性行为</p>
                        </li>
                        <li>
                            <p>若您有任何疑问，或者您希望本站加入一些其他您感兴趣的内容，可以联系QQ：
                                <a target="_blank" class="color-green" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes">3450302573</a>
                                <br/>也可以给我发邮件：<a href="mailto:3450302573@qq.com" target="_blank" class="color-green">3450302573@qq.com</a>
                            </p>
                        </li>
                    </ol>

                    <h3>本站开发与维护</h3>
                        <ol>
                            <li>
                                <p>站主个人开发。采用nodejs+express+bootstrap+jq+gulp</p>
                            </li>
                            <li>
                                <p>兼容：不兼容ie11以下，若你发现有兼容问题，可以反馈给我，等我懒够了再改</p>
                            </li>
                            <li>
                                <p>由于比较懒，所以gulp只用了一个编译sass的功能233333</p>
                            </li>
                            <li>
                                <p>若您发现本站代码有bug,请联系QQ:
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes" class="color-green">3450302573</a>
                                    <br/>或者给我发邮件：<a href="mailto:3450302573@qq.com" target="_blank" class="color-green">3450302573@qq.com</a>
                                </p>
                            </li>
                        </ol>
                        <p></p>
                </div>
            </div>
        </div>
        <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/indexJS.js"></script>
</body>
</html>