<% include common-tags.ejs %>
<link rel="stylesheet" href="css/my.css"/>
<title id="title">个人空间 - 塔罗Ju</title>
<style>

</style>
</head>
<body>

<% include common-header.ejs %>

<div id="IENotice" class="IE-notice">
	看到此消息，说明你的浏览器是IE9以下。本站不支持IE9以下，为达到更好浏览效果，请换其他浏览器
	<a href="javascript:;">关闭提示</a>
</div>

<section class="container main-content ">

	<div class="row" style="background:#790d86">

	</div>


	<div class="row">
		<div class="col-xs-12">

		</div>
	</div>

</section>
<% include common-footer.ejs %>

<script src="js/jquery-1.11.2-min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>