<div class="fixed-tool" id="fixedTool">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes" class="qq-service"></a>
    <a href="javascript:;" class="go-top-with-img" id="goTop"></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="row text-center mtb30">
            <a class="mlr15" href="/about?cateid=aboutUS">关于本站</a>
            <a class="mlr15" href="/about?cateid=contactEditor">和站主搞基</a>
            <a class="mlr15" href="/about?cateid=feedback">反馈意见建议</a>

        </div>
    </div>
</footer>