<% include common-tags.ejs %>
    <title>塔罗Ju--关于作者</title>
</head>
<body>
    <div class="wrapper">

        <% include common-header.ejs %>
        <% include IENotice.ejs %>

        <div class="container main-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                    <img src="imgs/about/editor_avatar.png" alt="作者的头像" class="img-circle fl">
                    <div>
                        <h3>3450302573@qq.com</h3>
                        <p><label>职业：</label>web前端</p>
                        <p><label>联系方式：</label>见上邮箱</p>
                    </div>
                </div>
            </div>
        </div>
        <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/indexJS.js"></script>
</body>
</html>