<p class="divine-usage-msg">
    如何使用：确认“<span class="color-red">所用牌组</span>”与“<span class="color-red">牌形</span>”之后，
    点“<span class="color-red">抽牌</span>”按钮即可。<br/>
    点“<span class="color-red">更多自定义选项</span>”按钮，可开放更多自定义选择功能，但本座通过多年经验，强烈不推荐不熟悉塔罗的人点这个，因为太多可选性反而会造成你的困扰
    <a href="javascript:;">下次不再提示本消息</a>
</p>
