<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <title>预测</title>
    <style>
        /*.wrapper {*/
            /*background: pink;*/
            /*overflow: hidden;*/
        /*}*/

        /*.logo-img {*/
            /*background: url(imgs/logo200.png) no-repeat;*/
            /*background-size: 100% 100%;*/
        /*}*/
    </style>
</head>
<body>
<div class="wrapper">

    <% include common-header.ejs %>

    <div id="IENotice" class="IE-notice">
        看到此消息，说明你的浏览器是IE9以下。本站不支持IE9以下，为达到更好浏览效果，请换其他浏览器
        <a href="javascript:;">关闭提示</a>
    </div>

    <section class="container main-content ">
        <form class="t-form-inline mt50" id="divineDetail" role="form">
            <div class="t-form-group">
                <label class="col-sm-3 plr0" for="paiZu">所用牌组:</label>
                <div class="t-inline-dis col-sm-7">
                    <select name="pai-zu" id="paiZu"  class="">
                        <option value="majorArcana">22张大牌</option>
                        <option value="minorArcana">56张小牌</option>
                        <option value="allCards">全78张牌</option>
                        <option value="WANDS">权杖</option>
                        <option value="SWORDS">宝剑</option>
                        <option value="PENTACLES">五角星</option>
                        <option value="CUPS">圣杯</option>
                    </select>
                </div>
            </div>
            <div class="t-form-group">
                <label class="col-sm-3 plr0" for="oneCard">牌形：</label>
                <div class="t-inline-dis col-sm-7">
                    <select name="card-form" id="cardForm"  class="">
                        <option value="form-oneCard">单牌预测</option>
                    </select>
                </div>
            </div>
            <div class="t-form-group">
                <button type="button" id="take" class="btn btn-default">抽牌</button>
                <button type="button" id="takeDefault" class="btn btn-info" data-extras="{'cardForm':'<%= cardsForm %>','defaultPaizu':'<%= defaultPaizu %>'}">默认</button>
            </div>


        </form>
        <% include divine-usage-msg.ejs %>
        <div class="row divine-result-wrap" id="canvasWrap">
           <canvas id="canvas"></canvas>
        </div>

    </section>
    <% include common-footer.ejs %>
</div>
<script src="js/jquery-1.11.2-min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/CardsClass.js"></script>
<script src="js/divineDetail.js"></script>
<!--<script src="js/indexJS.js"></script>-->
<script>
    console.log(<%= cardsForm %>);
</script>
</body>
</html>