<p class="divine-usage-msg">
    如何使用：<br/>
    确认“<span class="color-red">所用牌组</span>”与“<span class="color-red">牌形</span>”之后，
    点“<span class="color-red">抽牌</span>”按钮即可。<br/>
    如果你并不熟悉，那我建议你点“<span class="color-red">默认</span>”按钮，将会使用我推荐的组合（最经典、最常见、通用性最好的组合）
    <a href="javascript:;" class="fr">下次不再提示本消息</a>
</p>
