<% include common-tags.ejs %>
    <title>塔罗Ju</title>
    <style>
        a{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1><%= error.status %></h1>
            <h2><%= message %></h2>
            <a href="/" style="margin:2rem;">返回首页</a>
            <a href="javascript:history.go(-1);">返回上个页面</a>
        </div>
    </div>
    <% include common-foot-tag.ejs %>
    <script src="js/common.js"></script>
</body>
</html>