<% include common-tags.ejs %>
    <title>塔罗Ju--反馈</title>
</head>
<body>
    <div class="wrapper">

        <% include common-header.ejs %>
        <% include IENotice.ejs %>

        <div class="container main-content">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
                    <p>若您有任何疑问，或者您希望本站加入一些其他您感兴趣的内容，或者您想反馈BUG等，请联系QQ：
                        <a target="_blank" class="color-green" href="http://wpa.qq.com/msgrd?v=3&uin=3450302573&site=jusctice.cn&menu=yes">3450302573</a>
                        <br/>也可以给我发邮件：<a href="mailto:3450302573@qq.com" target="_blank" class="color-green">3450302573@qq.com</a>
                    </p>
                </div>
            </div>
        </div>
        <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/indexJS.js"></script>
</body>
</html>