<div id="IENotice" class="IE-notice" >
    本站不支持IE低版本，为达到更好浏览效果，请换其他浏览器
    <a href="javascript:;">关闭提示</a>
</div>
<div id="WeixinNotice" class="IE-notice" >
    本站不支持微信浏览器，为达到更好浏览效果，请复制链接后在手机自带浏览器中打开
    <a href="javascript:;">关闭提示</a>
</div>