<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <title>首页</title>
    <style>
        .background-img-wrap-full{
            max-width: 1000px;
            background-image:url(http://o741g40if.bkt.clouddn.com/bg-main.jpg)
        }
    </style>
</head>
<body>
    <div class="wrapper">

    <% include common-header.ejs %>

    <div id="IENotice" class="IE-notice" >
        看到此消息，说明你的浏览器是IE9以下。本站不支持IE9以下，为达到更好浏览效果，请换其他浏览器
        <a href="javascript:;">关闭提示</a>
    </div>

    <section class="container main-content ">
        <div class="row background-img-wrap-full" id="background-img-wrap-full" >
            <h1></h1>
        </div>
        <div class="row title-with-line">
            <h2 class="inner-title">随便看看</h2>
            <hr class="inner-line"/>
        </div>
        <div class="row">
            <div class="col-xs-12 img-list-comtainer">
                <a class="img-list-item" href="/divineDetail?cardsForm=每日动向&defaultPaizu=全78张牌">
                    <img src="imgs/paiXing/oneCard.jpg" alt="单牌预测"/>
                    <div class="img-list-item-content">
                        单牌-每日自测<br/>
                        心中想一个问题，<br/>
                        抽一张牌进行推测。<br/>
                        最常用、最实用的一个玩法
                    </div>
                </a>
                <div class="img-list-item">
                    <img src="imgs/0fool.jpg" alt="愚人"/>
                    <div class="img-list-item-content">
                        此栏位<br/>
                        仅为展示用，并不会链接到任何页面<br/>
                        点了也没东西
                    </div>
                </div>
                <div class="img-list-item">
                    <img src="imgs/1magician.jpg" alt="魔术师"/>
                    <div class="img-list-item-content">
                        此栏位<br/>
                        仅为展示用，<br/>
                        并不会链接到任何页面
                    </div>
                </div>
            </div>
        </div>

    </section>
    <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/indexJS.js"></script>

</body>
</html>