<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <title>登录</title>

</head>
<body>
    <div class="wrapper">

    <% include common-header.ejs %>

    <div id="IENotice" class="IE-notice" >
        看到此消息，说明你的浏览器是IE9以下。本站不支持IE9以下，为达到更好浏览效果，请换其他浏览器
        <a href="javascript:;">关闭提示</a>
    </div>

    <section class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h2>用户登录</h2>
                <form class="form-horizontal" id="logForm" role="form" >
                    <div class="form-group">
                        <label for="inputUserName" class="col-xs-2 control-label">用户名</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputUserName" name="username" placeholder="用户名" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword" name="pwd" placeholder="密码" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputYanzhengma" class="col-sm-2 control-label">输入验证码</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputYanzhengma" placeholder="验证码、不区分大小写" >
                        </div>
                        <div class="col-sm-2" >
                            <canvas id="yanzhengmaCTX" width="100" height="32" ></canvas>
                        </div>
                        <i class="col-xs-3 control-label" >{{yanzhengMsg}}</i>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 记住我
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="login()">登录</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <% include common-footer.ejs%>
    </div>
    <script src="js/jquery-1.11.2-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>

</body>
</html>