//
   Created by ty on 2016/2/4.
p hello jade #{s}

- var user = { description: '我喜欢猫' }
- if (user.description)
    h2 描述
    p.description #{user.description} ccc
- else
    h1 描述
    p.description 用户无描述

div ddd ccc

        vvv
