@import url(../css/helper.css);
/* line 5, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*vars start*/
/*vars end*/
/*img list start*/
/* line 7, ../sass/compo.scss */
.img-list-comtainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }

/* line 21, ../sass/compo.scss */
.img-list-item {
  display: block;
  overflow: hidden;
  flex: 1;
  padding: 8px;
  max-width: 294px;
  margin: 15px 8px;
  position: relative;
  cursor: pointer;
  background: white; }
  /* line 33, ../sass/compo.scss */
  .img-list-item img {
    width: 100%;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s; }
  /* line 42, ../sass/compo.scss */
  .img-list-item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  /* line 49, ../sass/compo.scss */
  .img-list-item:hover .img-list-item-content {
    height: 150px; }
  /* line 53, ../sass/compo.scss */
  .img-list-item .img-list-item-content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding: 0 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: .3s; }

@media (max-width: 415px) {
  /* line 71, ../sass/compo.scss */
  .img-list-item {
    width: 48%;
    min-width: 48%;
    padding: 0;
    margin: 1%; } }
/*img list end*/
/*form one row start*/
/* line 84, ../sass/compo.scss */
.t-form-inline .t-form-group {
  display: block;
  line-height: 34px;
  white-space: nowrap; }
  /* line 88, ../sass/compo.scss */
  .t-form-inline .t-form-group .t-inline-dis {
    display: inline-block; }
  /* line 91, ../sass/compo.scss */
  .t-form-inline .t-form-group label {
    display: inline-block; }
  /* line 95, ../sass/compo.scss */
  .t-form-inline .t-form-group input {
    height: 22px;
    width: 100%;
    line-height: 22px;
    display: inline-block; }
  /* line 101, ../sass/compo.scss */
  .t-form-inline .t-form-group select {
    width: 95%;
    display: inline-block; }

@media (min-width: 601px) {
  /* line 109, ../sass/compo.scss */
  .t-form-inline {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    /* line 116, ../sass/compo.scss */
    .t-form-inline .t-form-group {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      /*box-flex: 1;*/
      flex: 1; } }
/*form one row start*/
/* line 126, ../sass/compo.scss */
.title-with-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px; }
  /* line 132, ../sass/compo.scss */
  .title-with-line .inner-title {
    color: #790d86;
    padding: 0 30px 0 10px;
    line-height: 43px; }
  /* line 137, ../sass/compo.scss */
  .title-with-line .inner-line {
    height: 2px;
    padding: 0;
    flex: 1;
    background: #790d86; }

@media (max-width: 466px) {
  /* line 145, ../sass/compo.scss */
  .title-with-line {
    display: block; }

  /* line 148, ../sass/compo.scss */
  .inner-line {
    margin-top: 0; } }
/* line 153, ../sass/compo.scss */
.divine-usage-msg {
  padding: 10px;
  margin: 20px 0;
  background: #fff;
  line-height: 1.3;
  overflow: hidden;
  zoom: 1;
  border: 1px solid #790d86; }

/* line 163, ../sass/compo.scss */
.divine-result-wrap {
  height: 550px;
  background: url(../imgs/logo-per.png) no-repeat 50% 50%; }

/*ul li start*/
/* line 169, ../sass/compo.scss */
.ul-horiz {
  list-style: none; }
  /* line 171, ../sass/compo.scss */
  .ul-horiz li {
    display: inline-block;
    margin: 0 13px; }

/*ul li end*/
/*vars start*/
/*vars end*/
/* line 14, ../sass/common.scss */
html {
  font-family: "weiruanyahei",sans-serif; }

/* line 17, ../sass/common.scss */
body {
  background: #e4e4e4; }

/* line 20, ../sass/common.scss */
.wrapper {
  /*background: pink;*/
  overflow: hidden; }

/* line 24, ../sass/common.scss */
.logo-img {
  background: url(../imgs/logo200.png) no-repeat;
  background-size: 100% 100%; }

/* line 29, ../sass/common.scss */
.container {
  max-width: 1000px; }

/*header start*/
/* line 33, ../sass/common.scss */
.header {
  width: 100%;
  height: 50px;
  color: #fff;
  background: black;
  position: absolute;
  top: 0;
  left: 0; }
  /* line 41, ../sass/common.scss */
  .header a {
    color: #fff; }
    /* line 43, ../sass/common.scss */
    .header a:hover {
      background: #e4e4e4 !important;
      color: #790d86;
      font-weight: bolder; }
    /* line 48, ../sass/common.scss */
    .header a:focus {
      background: none !important; }
  @media (max-width: 768px) {
    /* line 53, ../sass/common.scss */
    .header .navbar-right {
      float: right;
      text-align: right;
      padding: 0 5px;
      margin: 0 -15px 0 0;
      background: black; } }

/* line 64, ../sass/common.scss */
.IE-notice {
  display: none;
  background: #790d86;
  color: white;
  font-weight: 600;
  position: relative;
  top: 50px;
  left: 0;
  padding: 5px; }

/*footer start*/
/* line 75, ../sass/common.scss */
.footer {
  width: 100%;
  background: black; }

/*footer end*/
/*main-content start*/
/* line 84, ../sass/common.scss */
.main-content {
  margin: 50px auto;
  padding: 0; }

/*main-content end*/
