@charset "UTF-8";
@import url(../css/helper.css);

/*vars start*/
/*vars end*/
/*img list start*/
.img-list-comtainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 8px;
}

.img-list-item {
    display: block;
    overflow: hidden;
    flex: 1;
    padding: 8px;
    max-width: 294px;
    margin: 15px 8px;
    position: relative;
    cursor: pointer;
    background: white;
}

.img-list-item img {
    width: 100%;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.img-list-item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.img-list-item:hover .img-list-item-content {
    height: 150px;
}

.img-list-item .img-list-item-content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding: 0 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: .3s;
}

@media (max-width: 415px) {
    .img-list-item {
        width: 48%;
        min-width: 48%;
        padding: 0;
        margin: 1%;
    }
}

/** img list ver2.0 start
  * with a blur element
  * expert in (w/h:1/1.6~1.9)list-block in screen which max-width:1000px
  */
.img-list-block {
    padding: 10px 0;
    position: relative;
    min-height: 500px;
}

.img-list-block ul:after {
    content: "";
    display: block;
    clear: both;
}

.img-list-block .img-list-li {
    width: 18.75%;
    margin: 20px 20px 0;
    height: 340px;
    position: relative;
    float: left;
    background: no-repeat;
    background-size: 100% 100%;
    -moz-transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    cursor: pointer;
}

.img-list-block .img-list-li:hover {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-list-block .img-list-li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}

.img-list-block .img-list-li a:visited {
    color: #000;
}

.img-list-block .img-list-li .blur-mask-bottom {
    background: no-repeat 0% 100%;
    background-size: 100% auto;
    height: 87px;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0 -1px 2px;
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.img-list-block .img-list-li .tips {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    line-height: 1.5;
    height: 87px;
    width: 100%;
    padding: 5px 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px;
}

.img-list-block .img-list-li .tips h5 {
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .img-list-block .img-list-li {
        width: 20%;
        height: 255px;
        margin: 18px 18px 0;
    }
}

@media screen and (max-width: 741px) {
    .img-list-block .img-list-li {
        width: 21%;
        height: 255px;
        margin: 18px 10px 0;
    }
}

@media screen and (max-width: 661px) {
    .img-list-block .img-list-li {
        width: 20%;
        height: 220px;
        margin: 18px 10px 0;
    }
}

@media screen and (max-width: 571px) {
    .img-list-block .img-list-li {
        width: 24%;
        height: 200px;
        margin: 18px 20px 0;
    }
}

@media screen and (max-width: 435px) {
    .img-list-block .img-list-li {
        width: 34%;
        height: 200px;
        margin: 18px 8% 0;
    }
}

/*img list ver2.0 end*/
/*img list end*/
/*form one row start*/
.t-form-inline .t-form-group {
    display: block;
    line-height: 34px;
    white-space: nowrap;
}

.t-form-inline .t-form-group .t-inline-dis {
    display: inline-block;
}

.t-form-inline .t-form-group label {
    display: inline-block;
}

.t-form-inline .t-form-group input {
    height: 22px;
    width: 100%;
    line-height: 22px;
    display: inline-block;
}

.t-form-inline .t-form-group select {
    width: 95%;
    display: inline-block;
}

@media (min-width: 601px) {
    .t-form-inline {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .t-form-inline .t-form-group {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        /*box-flex: 1;*/
        flex: 1;
    }
}

/*form one row start*/
.title-with-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 20px;
}

.title-with-line .inner-title {
    color: #790d86;
    padding: 0 30px 0 10px;
    line-height: 43px;
}

.title-with-line .inner-line {
    height: 2px;
    padding: 0;
    flex: 1;
    background: #790d86;
}

@media (max-width: 466px) {
    .title-with-line {
        display: block;
    }

    .inner-line {
        margin-top: 0;
    }
}

.divine-usage-msg {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    line-height: 1.3;
    overflow: hidden;
    zoom: 1;
    border: 1px solid #790d86;
}

.divine-result-wrap {
    overflow: hidden;
    position: relative;
    background: url(../imgs/logo-per.png) no-repeat 50% 50%;
}

.divine-result-wrap .errorMsgBlock {
    position: absolute;
    z-index: 15;
}

/*ul li start*/
.ul-horiz {
    list-style: none;
}

.ul-horiz li {
    display: inline-block;
    margin: 0 .5rem;
}

.ul-horiz li a {
    display: block;
    padding: .6rem;
    text-decoration: none;
}

/*ul li end*/
/*text align about label of form */
form .control-label {
    text-align: left !important;
}

.blur-mask-full {
    background: no-repeat 0 100%;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0 -1px 2px;
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.cards-gallery-with-img {
    position: relative;
    overflow: hidden;
}

.cards-gallery-with-img .img-wrap {
    display: inline-block;
    width: 50%;
}

.cards-gallery-with-img .text-wrap {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    padding-left: .5rem;
    padding-right: 15px;
}

.flex-vertical-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.flex-vertical-wrapper .flex-item-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    padding-top: 5px;
    font-size: 1.1rem;
    line-height: 1.3;
}

/* right fixed toolTips*/
.fixed-tool {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: block;
    z-index: 999;
}

.go-top-with-img {
    padding: 0;
    width: 40px;
    height: 40px;
    display: none;
    background: url(http://pic.jusctice.cn/icons/top_bg.png) no-repeat;
}

.go-top-with-img:hover, .qq-service:hover {
    background-position: left -40px;
}

.qq-service {
    width: 40px;
    height: 40px;
    display: block;
    background: url(http://pic.jusctice.cn/icons/qq_bg.png) no-repeat;
}

.select-file-block {
    overflow: hidden;
    line-height: 1.86;
    color: #fff;
    width: 72px;
    height: 25px;
    background-color: #428bca;
    border-color: #357ebd;
    text-align: center;
    position: relative;
}

.select-file-block input {
    opacity: 0;
    filter: Alpha(opacity=0);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/*vars start*/
/*vars end*/
html {
    font-size: 10px;
}

@media only screen and (min-width: 360px) {
    html {
        font-size: 11.25px !important;
    }
}

@media only screen and (min-width: 401px) {
    html {
        font-size: 12.5px !important;
    }
}

@media only screen and (min-width: 428px) {
    html {
        font-size: 13.375px !important;
    }
}

@media only screen and (min-width: 461px) {
    html {
        font-size: 16px !important;
    }
}

body {
    font-family: "Open Sans", "Microsoft YaHei", "weiruanyahei", Arial, sans-serif !important;
    background: #330f10;
    color: #bac2f5;
}

a {
    color: #bac2f5;
}

a:hover {
    font-weight: bolder;
    color: #bac2f5;
}

.wrapper {
    overflow: hidden;
}

.logo-img {
    display: inline-block;
    height: 100%;
}

.divine-nav-block {
    display: inline-block;
}

.divine-nav-block a {
    color: #bac2f5;
}

.divine-nav-block a:hover, .divine-nav-block a:focus {
    background: #47233e !important;
    font-weight: bolder;
}

.container {
    max-width: 1000px;
}

/*header start*/
.header {
    width: 100%;
    height: 50px;
    background: #1B0B18;
    position: absolute;
    top: 0;
    left: 0;
}

.header > div {
    height: 100%;
}

.header .navbar-header {
    height: 100%;
    position: relative;
}

.header .navbar-header .header-search-input {
    font-size: 1.6rem;
}

.header .navbar-header .header-search-box-mobile {
    position: absolute;
    right: 60px;
    width: 100%;
}

.header .navbar-toggle {
    outline: none;
}

.header .navbar-toggle:focus {
    background: #47233e !important;
}

.header .navbar-toggle .icon-bar {
    background: #bac2f5;
}

.header a {
    color: #bac2f5;
}

.header a:hover {
    background: #47233e !important;
    font-weight: bolder;
}

.header a:focus {
    background: none !important;
}

@media (max-width: 768px) {
    .header .navbar-right {
        float: right;
        text-align: right;
        padding: 0 5px;
        margin: 0 -15px 0 0;
        background: black;
        position: relative;
        z-index: 10;
    }
}

.header-search-box {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    float: right;
}

.header-search-box-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    z-index: 5;
}

.header-search-box-mobile .header-search-input:focus {
    outline: none;
    border-bottom: 1px solid rgba(187, 156, 255, 0.3);
}

@media (min-width: 768px) {
    .header-search-box-mobile {
        display: none;
    }
}

@media (max-width: 767.9999px) {
    .header-search-box {
        display: none;
    }
}

.header-search-form {
    float: right;
    padding-right: 5px;
}

.header-search-input {
    background: url(http://pic.jusctice.cn/icons/search.png) no-repeat right;
    border: none;
    padding: 5px 25px 5px 0;
    width: 0;
    color: #fff;
    /*设置动画样式*/
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.header-search-input:focus {
    width: 200px;
}

.header-search-input::-webkit-search-cancel-button {
    display: none;
}

.IE-notice {
    display: none;
    background: #790d86;
    color: white;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 0;
    padding: 5px;
}

/*footer start*/
.footer {
    width: 100%;
    background: #330f10;
    margin-top: 3rem;
    border-top: 1px solid rgba(187, 156, 255, 0.3);
}

.footer a {
    color: #bac2f5;
}

/*footer end*/
/*main-content start*/
.main-content {
    margin: 50px auto;
}

/*main-content end*/
/*index.ejs start*/
.background-img-wrap-full {
    margin: 0 auto;
    background: #eee 0 0 no-repeat;
    background-size: cover;
}

.background-img-wrap-full h1 {
    background: rgba(0, 0, 0, 0.9);
    margin: 50px 20px;
    font-size: 22px;
    color: #d9d9d9;
    line-height: 1.4;
}

.login-and-reg a {
    margin: 10px 5px;
    /*background:rgba(44,44,44,.5);*/
    font-size: 20px;
    display: block;
}

/*index.ejs end*/
/*pagination*/
.pagination > .active-red > a, .pagination > .active-red > span, .pagination > .active-red > a:hover, .pagination > .active-red > span:hover, .pagination > .active-red > a:focus, .pagination > .active-red > span:focus {
    background-color: #bf383c;
}

.pagination > li > a {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #5C3957;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #47233e;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: transparent;
    border: 1px solid #5C3957;
}
