@import url(../css/helper.css);
/* line 5, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, D:/ruanjian/Koala/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*vars start*/
/*vars end*/
/*img list start*/
/* line 7, ../sass/compo.scss */
.img-list-comtainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }

/* line 21, ../sass/compo.scss */
.img-list-item {
  display: block;
  overflow: hidden;
  flex: 1;
  padding: 8px;
  max-width: 294px;
  margin: 15px 8px;
  position: relative;
  cursor: pointer;
  background: white; }
  /* line 33, ../sass/compo.scss */
  .img-list-item img {
    width: 100%;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s; }
  /* line 42, ../sass/compo.scss */
  .img-list-item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  /* line 49, ../sass/compo.scss */
  .img-list-item:hover .img-list-item-content {
    height: 150px; }
  /* line 53, ../sass/compo.scss */
  .img-list-item .img-list-item-content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding: 0 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: .3s; }

@media (max-width: 415px) {
  /* line 71, ../sass/compo.scss */
  .img-list-item {
    width: 48%;
    min-width: 48%;
    padding: 0;
    margin: 1%; } }
/** img list ver2.0 start
* expert in (w/h:1/1.6~1.9)list-block in screen which max-width:1000px
*/
/* line 81, ../sass/compo.scss */
.img-list-block {
  padding: 10px 0;
  position: relative;
  min-height: 500px; }
  /* line 85, ../sass/compo.scss */
  .img-list-block ul:after {
    content: "";
    display: block;
    clear: both; }
  /* line 90, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 18.75%;
    margin: 20px 20px 0;
    height: 340px;
    position: relative;
    float: left;
    background: no-repeat;
    background-size: 100% 100%;
    -moz-transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    cursor: pointer; }
    /* line 104, ../sass/compo.scss */
    .img-list-block .img-list-li:hover {
      -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
    /* line 108, ../sass/compo.scss */
    .img-list-block .img-list-li a {
      display: block;
      width: 100%;
      height: 100%;
      color: #000; }
      /* line 113, ../sass/compo.scss */
      .img-list-block .img-list-li a:visited {
        color: #000; }
    /* line 117, ../sass/compo.scss */
    .img-list-block .img-list-li .blur-mask-bottom {
      background: no-repeat 0% 100%;
      background-size: 100% auto;
      height: 87px;
      width: 100%;
      position: absolute;
      bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.8) 0 -1px 2px;
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      -webkit-filter: blur(5px);
      filter: blur(5px); }
    /* line 132, ../sass/compo.scss */
    .img-list-block .img-list-li .tips {
      position: absolute;
      bottom: 0;
      z-index: 1000;
      line-height: 1.5;
      height: 87px;
      padding: 5px 10px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px; }
      /* line 141, ../sass/compo.scss */
      .img-list-block .img-list-li .tips h5 {
        font-weight: bold; }

@media screen and (max-width: 991px) {
  /* line 149, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 20%;
    height: 255px;
    margin: 18px 18px 0; } }
@media screen and (max-width: 741px) {
  /* line 159, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 21%;
    height: 255px;
    margin: 18px 10px 0; } }
@media screen and (max-width: 661px) {
  /* line 168, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 20%;
    height: 220px;
    margin: 18px 10px 0; } }
@media screen and (max-width: 571px) {
  /* line 177, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 24%;
    height: 200px;
    margin: 18px 20px 0; } }
@media screen and (max-width: 435px) {
  /* line 186, ../sass/compo.scss */
  .img-list-block .img-list-li {
    width: 34%;
    height: 200px;
    margin: 18px 8% 0; } }
/*img list ver2.0 end*/
/*img list end*/
/*form one row start*/
/* line 202, ../sass/compo.scss */
.t-form-inline .t-form-group {
  display: block;
  line-height: 34px;
  white-space: nowrap; }
  /* line 206, ../sass/compo.scss */
  .t-form-inline .t-form-group .t-inline-dis {
    display: inline-block; }
  /* line 209, ../sass/compo.scss */
  .t-form-inline .t-form-group label {
    display: inline-block; }
  /* line 213, ../sass/compo.scss */
  .t-form-inline .t-form-group input {
    height: 22px;
    width: 100%;
    line-height: 22px;
    display: inline-block; }
  /* line 219, ../sass/compo.scss */
  .t-form-inline .t-form-group select {
    width: 95%;
    display: inline-block; }

@media (min-width: 601px) {
  /* line 227, ../sass/compo.scss */
  .t-form-inline {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    /* line 234, ../sass/compo.scss */
    .t-form-inline .t-form-group {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      /*box-flex: 1;*/
      flex: 1; } }
/*form one row start*/
/* line 244, ../sass/compo.scss */
.title-with-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px; }
  /* line 250, ../sass/compo.scss */
  .title-with-line .inner-title {
    color: #790d86;
    padding: 0 30px 0 10px;
    line-height: 43px; }
  /* line 255, ../sass/compo.scss */
  .title-with-line .inner-line {
    height: 2px;
    padding: 0;
    flex: 1;
    background: #790d86; }

@media (max-width: 466px) {
  /* line 263, ../sass/compo.scss */
  .title-with-line {
    display: block; }

  /* line 266, ../sass/compo.scss */
  .inner-line {
    margin-top: 0; } }
/* line 271, ../sass/compo.scss */
.divine-usage-msg {
  padding: 10px;
  margin: 20px 0;
  background: #fff;
  line-height: 1.3;
  overflow: hidden;
  zoom: 1;
  border: 1px solid #790d86; }

/* line 281, ../sass/compo.scss */
.divine-result-wrap {
  position: relative;
  background: url(../imgs/logo-per.png) no-repeat 50% 50%; }

/*ul li start*/
/* line 288, ../sass/compo.scss */
.ul-horiz {
  list-style: none; }
  /* line 290, ../sass/compo.scss */
  .ul-horiz li {
    display: inline-block;
    margin: 0 13px; }
    /* line 293, ../sass/compo.scss */
    .ul-horiz li a {
      display: block;
      padding: 6px;
      text-decoration: none; }
      /* line 297, ../sass/compo.scss */
      .ul-horiz li a:visited {
        color: #000; }

/*ul li end*/
/*vars start*/
/*vars end*/
/* line 15, ../sass/common.scss */
html {
  font-family: "Open Sans","Microsoft YaHei","weiruanyahei",Arial,sans-serif; }

/* line 18, ../sass/common.scss */
body {
  background: #e4e4e4; }

/* line 21, ../sass/common.scss */
.wrapper {
  /*background: pink;*/
  overflow: hidden; }

/* line 25, ../sass/common.scss */
.logo-img {
  background: url(../imgs/logo200.png) no-repeat;
  background-size: 100% 100%; }

/* line 30, ../sass/common.scss */
.container {
  max-width: 1000px; }

/*header start*/
/* line 34, ../sass/common.scss */
.header {
  width: 100%;
  height: 50px;
  color: #fff;
  background: black;
  position: absolute;
  top: 0;
  left: 0; }
  /* line 42, ../sass/common.scss */
  .header a {
    color: #fff; }
    /* line 44, ../sass/common.scss */
    .header a:hover {
      background: #e4e4e4 !important;
      color: #790d86;
      font-weight: bolder; }
    /* line 49, ../sass/common.scss */
    .header a:focus {
      background: none !important; }
  @media (max-width: 768px) {
    /* line 54, ../sass/common.scss */
    .header .navbar-right {
      float: right;
      text-align: right;
      padding: 0 5px;
      margin: 0 -15px 0 0;
      background: black;
      position: relative;
      z-index: 10; } }

/* line 66, ../sass/common.scss */
.IE-notice {
  display: none;
  background: #790d86;
  color: white;
  font-weight: 600;
  position: relative;
  top: 50px;
  left: 0;
  padding: 5px; }

/*footer start*/
/* line 77, ../sass/common.scss */
.footer {
  width: 100%;
  background: black; }

/*footer end*/
/*main-content start*/
/* line 86, ../sass/common.scss */
.main-content {
  margin: 50px auto;
  padding: 0; }

/*main-content end*/
