/*字体颜色*/
.color-purp-main{
    color: #a95ee1;
}
.color-red{
    color: #d95450 !important;
}
.color-red2{
    color: #bf383c;
}
.color-green{
    color: #008f00 !important;
}

/*无边框*/
.no-border{
    border:none !important;
}
.border-q{
    border:1px solid #eee;
}
.border-t{
    border-top:1px solid rgba(187, 156, 255, .3);
}
.border-b{
    border-bottom:1px solid rgba(187, 156, 255, .3);
}
/*内外补丁*/
.mt10{
    margin-top: 1rem !important;
}
.mt20{
    margin-top: 2rem !important;
}
.mt50{
    margin-top:50px !important;
}
.mtb15{
    margin-top:15px;
    margin-bottom:15px;
}
.mtb30{
    margin:30px 0;
}
.mlr15{
    margin:0 15px;
}
.plr0{
    padding-left:0;
    padding-right:0;
}
.ptbSmall{
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.ptb15{
    padding-top:15px !important;
    padding-bottom:15px !important;
}
/*字体*/

.text-nowrap{
    white-space: nowrap;
}
.text-nonselect{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;  
}

/*浮动*/
.fr{
    float:right;
}
.fl{
    float:left;
}

/*active  */
.active{
    background: #47233e;
}

.active a{
    color:#fff;
}

.active-red{
    background:#bf383c;
}
.active-red a{
    color:#fff
}
/*BUTTON*/
.btn-main-pur {
    color: #fff;
    background-color: #a95ee1;
    border-color: #9d4ae1
}

.btn-main-pur:hover, .btn-main-pur:focus, .btn-main-pur:active, .btn-main-pur.active, .open .dropdown-toggle.btn-main-pur {
    color: #fff;
    background-color: #a34ae1;
    border-color: #9f30e1
}

.btn-main-pur:active, .btn-main-pur.active, .open .dropdown-toggle.btn-main-pur {
    background-image: none
}

.btn-main-pur.disabled, .btn-main-pur[disabled], fieldset[disabled] .btn-main-pur, .btn-main-pur.disabled:hover, .btn-main-pur[disabled]:hover, fieldset[disabled] .btn-main-pur:hover, .btn-main-pur.disabled:focus, .btn-main-pur[disabled]:focus, fieldset[disabled] .btn-main-pur:focus, .btn-main-pur.disabled:active, .btn-main-pur[disabled]:active, fieldset[disabled] .btn-main-pur:active, .btn-main-pur.disabled.active, .btn-main-pur[disabled].active, fieldset[disabled] .btn-main-pur.active {
    background-color: #a95ee1;
    border-color: #9d4ae1
}

