/*字体颜色*/
.color-purp-main{
    color: #a95ee1;
}
/*背景颜色*/
.bg-purp-main{
    background-color: #a95ee1;
}

/*无边框*/
.no-border{
    border:none !important;
}

/*内外补丁*/
.mt20{
    margin-top: 20px !important;
}
.mt50{
    margin-top:50px !important;
}
.mtb30{
    margin:30px 0;
}
.mlr15{
    margin:0 15px;
}
.plr0{
    padding-left:0;
    padding-right:0;
}

/*字体对齐*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/*长宽 百分比 不分什么大小屏 start*/
/*.t-per-1{*/
    /*width:8%;*/
/*}*/
/*.t-per-2{*/
    /*width:16%;*/
/*}*/
/*.t-per-3{*/
    /*width:24%;*/
/*}*/
/*.t-per-7{*/
    /*width:56%;*/
/*}*/
/*.t-per-8{*/
    /*width:64%;*/
/*}*/
/*长宽 end*/